/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= stub profiles_print
 */



@font-face
    font-family: 'isonorm'
    src: font-url('isonorm.woff') format('woff')
    src: font-url('isonorm.ttf') format('truetype')
    
@font-face
    font-family: 'stmarie'
    src: font-url('StMarie-Thin.woff')
    src: font-url('StMarie-Thin.ttf')

@font-face
    font-family: 'lmroman'
    src: font-url('lmroman10-regular.woff')
    src: font-url('lmroman10-regular.ttf')   

@font-face
    font-family: 'distpro'
    src: font-url('DistProTh.woff')
    src: font-url('DistProTh.ttf')  

@font-face
    font-family: 'lmroman-i'
    src: font-url('lmroman10-italic.woff')
    src: font-url('lmroman10-italic.ttf')    
    
    
$font-family-sans-serif:  'isonorm'
$font-family-base: 'isonorm'
$font-size-base: 22px

$font-family-serif: 'stmarie'
$font-family-monospace: 'lmroman'

$headings-line-height: 1

@import "bootstrap-sprockets"
@import "bootstrap"


@import "font-awesome-sprockets"
@import "font-awesome"

h2
    font-family: distpro

h3
    font-family: isonorm

h4
    font-family: distpro

    .fa
        // border: 1px solid black
        width: 50px
        text-align: center

h5
    font-family: distpro

p
    font-family: distpro

.timeline-body ul
    margin: 0px
    padding: 0px
    list-style-type: none
    
    
.timeline-body ul li
    font-family: distpro
    font-size: 14px
    border-top: 1px solid #eee
    text-align: justify
    padding: 5px 0px 5px 0px