<!DOCTYPE html>
<html>
<head>
  <title>BusinessCard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if params[:controller] != 'profiles' and params[:action] != 'show' %><div class='container'><% end %>
    <%= yield %>
  <% if params[:controller] != 'profiles' and params[:action] != 'show' %></div><% end %>
</body>
</html>
